
/* Your CSS Code here. */
.main{
	padding:10px;
	width:200px;
	background-color:purple;
	border-left-color:green;
	 border-left-style: solid;
	border-left-width: 5px;
	
	
}
.main #heading{
	
	font-size:20px;
	color:white;
	text-decoration:underline;
}